.App {
  text-align: center;
}

.headContainer {
  height: 250px;
  width: 100%;
  background-color: #2e2f30;
}

.headText {
  padding-top: 100px;
  color: #ed5118
}

.contentContainer {
  width: 100%
}

.footerContainer {
  width: 100%;
  height: 250px;
  background-color: #2e2f30;
}

.footerText {
  padding-top: 100px;
  color: #ed5118
}
