.tableContainer {
  padding-bottom: 50px;
  width: 100%;
}

.paper {
  overflow-x: auto;
  margin: auto;
  width: 95%;
  max-width: 1200px;
}

.expansionDetails {
  flex-direction: column;
}

.expansionDesc {
  text-align: center;
  margin-top: 15px;
  color: red;
}
