.DeselectPoolButton {
    &:hover {
        cursor: pointer;
    }
}

.SelectedPool-container {
    background-color: #00adff4a;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SelectedPool-content {
    text-align: left;
}

.SelectedPool-name {
    font-size: 2.5em;
}

.SelectedPool-data {
    line-height: 1.5em;
}

.PoolSidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.PoolList-container {
    overflow-y: scroll;
    height: 100%;
}

.PoolListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    &:hover {
        cursor: pointer;
        background-color: #00adff30;
    }
}
